.app-img {
  width: 70px;
}
.app-container {
  width: 120px;
  height: 120px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  list-style-type: none;
  margin-bottom: 10px;
  margin-right: 10px;
}
.app-name {
  color: #1e293b;
  font-family: 'Bree Serif';
  font-size: 20px;
}

@media screen and (min-width: 576px) {
  .app-img {
    width: 100px;
  }
  .app-container {
    width: 200px;
    height: 200px;
  }
  .app-name {
    font-size: 30px;
  }
}
